In [ ]:
import pandas as pd

In [53]:
df=pd.read_csv("C:\\Users\\Harpreet\Desktop\\Jupyter_Files\\Black_Friday_Analysis\\BlackFriday.csv")
del df['Product_Category_2']
del df['Product_Category_3']
df.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,7969

In [ ]:
for column in df.columns:
    print(df[column].nunique(), "\t: ", column)

In [ ]:
df['Gender']=='M'

In [ ]:
#Only shows only rows whose gender is Male
df[df['Gender']=='M']

In [ ]:
len(df[df['Gender']=='M']),len(df[df['Gender']=='F'])

---------
Pie Chart Method 1
----------

In [52]:
data=pd.DataFrame({'Ratio':[len(df[df['Gender']=='M']),len(df[df['Gender']=='F'])]}, index=['Male','Female'])
data

         Ratio
Male    405380
Female  132197

In [ ]:
data.plot.pie(y='Ratio',figsize = (5,5), autopct = "%.1f")

--------------
Pie Chart Method 2
---

In [ ]:
df.groupby('Gender').size()

In [ ]:
df.groupby('Gender').size().plot(kind='pie',autopct='%.1f',title='Gender Ratio')

In [ ]:
df.groupby('Gender').size().plot(kind='bar',title='Gender Ratio',figsize=(7,5))

In [ ]:
df.groupby('Gender').sum()['Purchase']

In [ ]:
df.groupby('Gender').sum()['Purchase'].plot(kind = 'pie', autopct = "%0.1f")

In [ ]:
df.groupby('Gender').mean()['Purchase']

In [ ]:
df.groupby('Gender').mean()['Purchase'].plot(kind = 'pie', autopct = "%0.1f")